.en_sr_add_btn {
	display: flex;
	justify-content: flex-end;
}

.en_sr_form_control {
	display: flex;
	flex-direction: column;
	padding: 10px;
	flex: 1;
}

.en_sr_form_control label {
	font-weight: 500 !important;
	margin-bottom: 5px !important;
}

.en_sr_form_control #en_ups_small_filter_by_state_label {
	margin-bottom: -15px !important;
}

.en_sr_form_control input[type='text'] {
	padding: 4px;
}

.en_sr_form_control select {
	max-width: 100% !important;
}

.group_sr_form_control {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.en_sr_err {
	color: red !important;
	font-size: 11px;
}

.en_shipping_rules_setting_section p.submit {
	display: none !important;
}

label[for='en_sr_service_name']::after,
label[for='en_sr_service_rate']::after,
label[for='en_ups_small_filter_by_state']::after {
	content: " *";
	color: red;
}